<img class="about-banner" src="assets/quem-somos-banner.png" alt="Quem somos">

<div class="container">
  <section class="box-1">
    <div class="photo-1">
      <img src="assets/quem-somos-foto.png" alt="Foto">
    </div>

    <div class="text">
      <h1>Nossa história</h1>
      <p>O sonho da casa própria, da conquista do seu espaço, um objetivo tão comum entre nós, cultivado muito cedo, desde a infância, até mesmo nas brincadeiras já começamos a imaginar como será nossa casa, não é mesmo? Foi através desta necessidade que em 1986, os empresários Dogival Corrêa e José Antônio Favarão, fundaram a Imobiliária Dimensão, buscando aproximar você do seu sonho, direcionando aos melhores negócios através da administração de imóveis.</p>
      <p>Após anos na administração de imóveis, optamos por focar em apenas um segmento, aperfeiçoando nossa equipe em um atendimento exclusivo em vendas e captação de imóveis, trazendo novas oportunidades, bem como proporcionar uma melhor assessoria e negociação.</p>
      <p>Com o mercado imobiliário em plena expansão, notamos um grande déficit em terrenos urbanos, visando suprir essa necessidade, decidimos oferecer para nossos clientes novas oportunidades de investimentos. Diante disso, em 2003, nasce a Corrêa e Favarão, empresa focada em incorporações de imóveis, com o conhecimento de mercado obtido através de anos de experiência com a Imobiliária Dimensão, conseguiu primar por bons loteamentos, sendo sempre sucesso de vendas, atingindo o patamar de uma das maiores loteadoras da região, contando com mais de 75 loteamentos distribuídos em mais de 20 cidades.</p>
    </div>
  </section>

  <section class="infos">
    <div class="item">
      <i></i>
      <div>
        <h5>Missão</h5>
        <p>Oferecer às pessoas a oportunidade de viver melhor através da realização do sonho do imóvel próprio.</p>
      </div>
    </div>
    <div class="item">
      <i></i>
      <div>
        <h5>Visão</h5>
        <p>Dar às pessoas a oportunidade de adquirir o seu imóvel.</p>
      </div>
    </div>
    <div class="item">
      <i></i>
      <div>
        <h5>Valores</h5>
        <p>Integridade e honestidade. Capacidade para aceitar grandes desafios e conduzi-los até ao final. Atitude crítica, dedicação para a qualidade e melhoramento pessoal. Assumir plena responsabilidade dos nossos compromissos, resultados e da qualidade dos serviços.</p>
      </div>
    </div>
  </section>
</div>

<div class="box-2">
  <div>
    <img src="assets/quem-somos-foto-imovel.png" alt="Foto">
  </div>
  <div class="text">
    <p>Em nosso DNA, há muito mais do que apenas vender imóveis. Predominamos nossa cultura empresarial e valorização das pessoas como essência em todas as nossas relações, buscando constantemente excelência nos serviços prestados. Atualmente, a paixão por trazer felicidade as pessoas através da realização do imóvel próprio, é o que nos move.</p>
    <p>Com a experiência de mercado, atuação estratégica e confiança dos clientes, a Imobiliária Dimensão, juntamente com a Corrêa e Favarão, conta com as melhores opções de imóveis.</p>
  </div>
</div>
