@import 'mixins';

img.about-banner {
  width: 100%;
}

.container {
  max-width: 1024px;
  padding: 0 1rem;
}

.box-1 {
  margin-top: 2rem;

  @include mobile-first(lg) {
    display: flex;
    gap: 3rem;
  }

  .text {
    @include mobile-first(lg) {
      flex: 3;
    }
  }
}

.photo-1 {
  display: none;

  @include mobile-first(lg) {
    display: block;
    flex: 2;
    transform: translateY(-4rem);
  }
}

h1 {
  font-size: 1.5rem;
}

.infos {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1.5rem 0;

  @include mobile-first(lg) {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 4rem 0;
  }

  i {
    background-color: var(--primary-4);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 1rem;
  }

  div {
    text-align: center;

    p {
      text-align: center;
    }
  }
}

.box-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;

  @include mobile-first(lg) {
    flex-direction: row;
    margin-bottom: 3rem;
    align-items: center;
  }

  div {
    @include mobile-first(lg) {
      width: 50%;
    }
  }

  img {
    width: 100%;
  }

  .text {
    padding: 0 2rem;

    p:last-child {
      padding-bottom: 0;
    }
  }
}
