@import 'mixins';
@import '~swiper/css';
@import '~swiper/css/navigation';

@mixin heightGallery() {
  height: 240px;
  min-height: 240px;
  max-height: 240px;

  @include mobile-first(lg) {
    height: 320px;
    min-height: 320px;
    max-height: 320px;
  }
}

@mixin heightGalleryModal() {
  height: 240px;
  min-height: 240px;
  max-height: 240px;

  @include mobile-first(md) {
    height: 75vh;
    min-height: 75vh;
    max-height: 75vh;
  }
}

.announcement-box-gallery {

  .box-content {
    position: relative;
    height: auto;
    @include heightGallery();

    .swiper {
      width: 100%;
      @include heightGallery();
    }
    .swiper-slide {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @include heightGallery();

      img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        @include heightGallery();
      }
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      color: var(--white);
      background-color: rgba(var(--primary-rgb-2), 0.75);
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
    }
    .swiper-button-prev {
      left: 7px;
      &:after {
        border-radius: 0 8px 8px 0;
      }
    }
    .swiper-button-next {
      right: 7px;
      &:after {
        border-radius: 8px 0 0 8px;
      }
    }

    .box-video {
      background-color: var(--black);
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      iframe,
      object,
      embed {
        width: auto;
        height: auto;

        @include mobile-first(md) {
          width: 425px;
        }

        @include mobile-first(lg) {
          width: 565px;
        }
      }
    }

    .box-map {
      position: relative;
      background-color: var(--grey-3);
      width: 100%;
      height: 100%;
    }

    .photo {
      cursor: pointer;
    }
  }

  .actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1390px;
    margin: 0 auto;
    z-index: 100;
  }
  .announcement-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .btn {
      font-size: 0.75rem;
    }
  }
  .copy-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: var(--primary-3);
    transition: 0.5s all;
    gap: 0.25rem;
    cursor: pointer;

    &:hover {
      color: var(--primary-4);
    }

    span {
      display: none;
      font-size: 1rem;
      color: var(--grey-3);

      @include mobile-first(md) {
        display: inline-block;
      }
    }
  }

  .announcement-gallery {
    overflow-x: hidden;

    .box-video {
      @include heightGallery();
      iframe,
      object,
      embed {
        @include heightGallery();
      }
    }

    .box-map {
      @include heightGallery();
      google-map {
        @include heightGallery();
      }
    }
  }

  .announcement-modal {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    overflow-x: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      background-color: rgba(var(--black-rgb), 0.9);
    }

    .box-video {
      iframe,
      object,
      embed {
        @include mobile-first(md) {
          height: 400px;
          width: 715px;
        }
        @include mobile-first(lg) {
          width: 700px;
        }
      }
    }

    .icon-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: var(--white);
      z-index: 10000;
      background-color: transparent;
      font-size: 1.25rem;
    }

    .box-content {
      z-index: 1000;
      @include heightGalleryModal();

      .swiper {
        width: 100%;
        @include heightGalleryModal();
        @include mobile-first(lg) {
          max-width: 75vw;
          padding: 0 1rem;
          background-color: var(--black);
          border-radius: 1rem;
        }
      }
      .swiper-slide {
        @include heightGalleryModal();

        img {
          @include heightGalleryModal();
          padding: 1rem;
          height: auto !important;
          min-height: auto !important;
        }
      }
    }

    .actions {
      width: 100%;

      .copy-link {
        color: var(--white);
      }
    }

    .announcement-buttons {
      .btn {
        color: var(--primary-3);
        background-color: var(--white);
        border-color: var(--white);

        &:hover {
          color: var(--primary-1) !important;
        }
      }
    }
  }

}
