@import 'mixins';
@import '~swiper/css';
@import '~swiper/css/navigation';

@mixin maxHeightGallery() {
  max-height: 240px;

  @include mobile-first(lg) {
    max-height: 320px;
  }
}

.swiper {
  width: 100%;
  @include maxHeightGallery();
}
.swiper-slide {
  width: auto;
  @include maxHeightGallery();
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    @include maxHeightGallery();
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--white);
  background-color: rgba(var(--primary-rgb-2), 0.75);
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.swiper-button-prev:after {
  border-radius: 0 8px 8px 0;
}
.swiper-button-next:after {
  border-radius: 8px 0 0 8px;
}

.box-content {
  position: relative;
  height: auto;
  @include maxHeightGallery();
}

.box-video {
  background-color: var(--grey-1);
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  @include maxHeightGallery();
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include maxHeightGallery();
  }
}

.announcement-gallery {
  .actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1390px;
    margin: 0 auto;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .btn {
      font-size: 0.5rem;
    }
  }
  .copy-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: var(--primary-3);
    transition: 0.5s all;

    &:hover {
      color: var(--primary-4);
      transform: scale(1.1);
    }

    mat-icon {
      cursor: pointer;
    }
  }
}

.announcement-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(var(--black-rgb), 0.5);
  }

}
