<ng-template #announcementButtons>
  <div class="actions">
    <div class="announcement-buttons">
      <button
        *ngIf="announcement.galeria.fotos[0]"
        class="btn"
        type="button"
        [ngClass]="{
          'btn-outline' : !showPhotos,
          'btn-primary-4' : !showPhotos,
          'btn-primary-3' : showPhotos
        }"
        (click)="photosClick()">
        Fotos
      </button>
      <button
        *ngIf="announcement.urlVideo"
        class="btn"
        type="button"
        [ngClass]="{
          'btn-outline' : !showVideo,
          'btn-primary-4' : !showVideo,
          'btn-primary-3' : showVideo
        }"
        (click)="videosClick()">
        Vídeo
      </button>
      <button
        *ngIf="announcement.url360"
        class="btn"
        type="button"
        [ngClass]="{
          'btn-outline' : !showTour360,
          'btn-primary-4' : !showTour360,
          'btn-primary-3' : showTour360
        }"
        (click)="tour360Click()">
        Tour 360°
      </button>
      <button
        *ngIf="announcement.latitude && announcement.longitude"
        class="btn"
        type="button"
        [ngClass]="{
          'btn-outline' : !showMap,
          'btn-primary-4' : !showMap,
          'btn-primary-3' : showMap
        }"
        (click)="mapClick()">
        Mapa
      </button>
    </div>

    <div class="copy-link" (click)="copyLink()">
      <mat-icon>share</mat-icon>
      <span>compartilhar</span>
    </div>
  </div>
</ng-template>

<ng-template #youtubeVideo>
  <app-youtube-iframe [videoId]="announcement.urlVideo"></app-youtube-iframe>
</ng-template>

<ng-template #googleMap>
  <google-map
    #myGoogleMap
    width="100%"
    height="100%"
    [center]="center"
    [options]="options">

    <map-marker
      *ngIf="marker"
      #markerElem="mapMarker"
      [icon]="iconPin"
      [position]="marker.position"
      [title]="marker.announcement.titulo">
    </map-marker>
  </google-map>
</ng-template>

<ng-template #swiperTemplate>
  <swiper #swiper *ngIf="showPhotos" [config]="swiperConfig">
    <ng-template swiperSlide *ngFor="let photo of announcement.galeria?.fotos;">
      <div class="photo" (click)="openModal()">
        <img [src]="photo.nome | pathImage: 'anuncios': photo.galeriaId" [alt]="photo.nome">
      </div>
    </ng-template>
  </swiper>
</ng-template>

<div *ngIf="announcement" class="announcement-box-gallery">
  <ng-container>
    <section class="announcement-gallery">
      <div class="box-content">
        <ng-container [ngTemplateOutlet]="swiperTemplate"></ng-container>

        <div *ngIf="showVideo" class="box-video">
          <ng-container [ngTemplateOutlet]="youtubeVideo"></ng-container>
        </div>

        <div *ngIf="showMap" class="box-map">
          <ng-container [ngTemplateOutlet]="googleMap"></ng-container>
        </div>
      </div>

      <ng-container [ngTemplateOutlet]="announcementButtons"></ng-container>
    </section>

    <section *ngIf="isModalOpened" class="announcement-modal">
      <button type="button" class="btn-menu icon-close" (click)="modalHide()"></button>

      <ng-container [ngTemplateOutlet]="announcementButtons"></ng-container>

      <div class="box-content">
        <ng-container [ngTemplateOutlet]="swiperTemplate"></ng-container>

        <div *ngIf="showVideo" class="box-video">
          <ng-container [ngTemplateOutlet]="youtubeVideo"></ng-container>
        </div>

        <div *ngIf="showMap" class="box-map">
          <ng-container [ngTemplateOutlet]="googleMap"></ng-container>
        </div>
      </div>
    </section>
  </ng-container>
</div>
