<div *ngIf="banners" class="banners">
  <swiper
    [config]="swiperConfig"
    (transitionStart)="buttonsAnimation()">
    <ng-template swiperSlide *ngFor="let banner of banners;">
      <section
        class="banner"
        [ngStyle]="{'background-image': 'url(' + pathImageBanner(banner.foto) + ')'}">

        <div class="gradient"></div>

        <div class="text">
          <h1>{{ banner.nome }}</h1>
          <p>{{ banner.descricao }}</p>
        </div>

        <div #buttons class="buttons">
          <a class="btn btn-white" target="_blank" href="{{ banner.link }}&destaque=true">Ver destaques</a>
          <a class="btn btn-primary" target="_blank" [href]="banner.link">Encontre o seu</a>
        </div>
      </section>
    </ng-template>
  </swiper>
</div>
