<div *ngIf="banners" class="banners">
  <swiper
    [config]="swiperConfig"
    (transitionStart)="transitionStart()"
    (transitionEnd)="transitionEnd()">
    <ng-template swiperSlide *ngFor="let banner of banners;">
      <section
        class="banner"
        [ngStyle]="{'background-image': 'url(' + pathImageBanner(banner.foto) + ')'}">

        <div class="gradient"></div>

        <div class="text">
          <h1>{{ banner.nome }}</h1>
          <p>{{ banner.descricao }}</p>
        </div>

        <div #buttons class="buttons">
          <a
            *ngIf="StringUtil.isUrlParams(banner.link)"
            class="btn btn-white"
            [routerLink]="[ANNOUNCEMENT_CONFIG.pathFront]"
            [queryParams]="AnnouncementLinkUtil.convertParamTypeAnnouncement(banner.link, true)">
            Ver destaques
          </a>

          <a
            *ngIf="StringUtil.isUrlParams(banner.link)"
            class="btn btn-primary"
            [routerLink]="[ANNOUNCEMENT_CONFIG.pathFront]"
            [queryParams]="AnnouncementLinkUtil.convertParamTypeAnnouncement(banner.link)">
            Encontre o seu
          </a>

          <a
            *ngIf="StringUtil.isUrlInternal(banner.link)"
            class="btn btn-primary"
            [routerLink]="banner.link">
            Encontre o seu
          </a>

          <a
            *ngIf="StringUtil.isUrl(banner.link)"
            class="btn btn-primary"
            target="_blank"
            [href]="banner.link">
            Saiba mais
          </a>
        </div>
      </section>
    </ng-template>
  </swiper>
</div>
