@import 'mixins';

.banners {
  @include mobile-first(lg) {
    padding-top: 0;
  }
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 2rem 1rem 8rem 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 7rem;

  @include mobile-first(md) {
    padding: 12rem 1rem 10rem 1rem;
  }

  @include mobile-first(lg) {
    padding: 8rem 1rem 10rem 1rem;
  }

  h1 {
    font-size: 1.5rem;
    color: var(--grey-1);

    @include mobile-first(lg) {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 0.65rem;

    @include mobile-first(lg) {
      font-size: 1rem;
    }
  }
}

.buttons {
  .btn {
    width: 200px;
    margin: 0.5rem;
    font-size: 0.75rem;

    @include mobile-first(lg) {
      width: 230px;
      font-size: 0.82rem;
    }
  }
}
