<header
  id="main-header"
  [ngClass]="{
    'menu-active' : menuActive,
    'sub-menu-active': subMenuActive,
    'background-active': !isHome,
    'no-fixed': !isHome
  }">
  <nav class="nav">
    <div class="logo">
      <a href="/">
        <img src="assets/logo-imobiliaria-dimensao.png" alt="{{ APP_CONFIG.name }}">
      </a>
    </div>

    <ul class="menu">
      <div class="menu-main">
        <ng-container *ngIf="isHome">
          <li *ngFor="let banner of banners;">
            <a
              *ngIf="StringUtil.isUrlParams(banner.link)"
              [routerLink]="[ANNOUNCEMENT_CONFIG.pathFront]"
              [queryParams]="AnnouncementLinkUtil.convertParamTypeAnnouncement(banner.link)">
              {{ banner.nome }}
            </a>

            <a
              *ngIf="StringUtil.isUrlInternal(banner.link)"
              [routerLink]="banner.link">
              {{ banner.nome }}
            </a>

            <a
              *ngIf="StringUtil.isUrl(banner.link)"
              target="_blank"
              [href]="banner.link">
              {{ banner.nome }}
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="!isHome">
          <li><a routerLink="/">Início</a></li>
          <li><a routerLink="/quem-somos">Quem somos</a></li>
          <li><a [routerLink]="ANNOUNCEMENT_CONFIG.pathFront">Anúncios</a></li>
          <li><a [routerLink]="ENTERPRISE_CONFIG.pathFront">Empreendimentos</a></li>
          <li><a routerLink="/anuncie">Anuncie</a></li>
          <li><a [routerLink]="BROKER_CONFIG.pathFront">Corretores</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ng-container>
      </div>

      <div class="default-items">
        <li class="item"><a (click)="navigateMapa()">Mapa</a></li>
        <li *ngIf="isHome" class="item item-menu">
          <a (click)="showSubMenu($event)">Menu</a>
          <ul class="sub-menu">
            <button type="button" class="btn-menu icon-close" (click)="showSubMenu($event)"></button>
            <li><a routerLink="/">Início</a></li>
            <li><a routerLink="/quem-somos">Quem somos</a></li>
            <li><a [routerLink]="ANNOUNCEMENT_CONFIG.pathFront">Anúncios</a></li>
            <li><a [routerLink]="ENTERPRISE_CONFIG.pathFront">Empreendimentos</a></li>
            <li><a routerLink="/anuncie">Anuncie</a></li>
            <li><a [routerLink]="BROKER_CONFIG.pathFront">Corretores</a></li>
            <li><a routerLink="/contato">Contato</a></li>
          </ul>
        </li>
      </div>
    </ul>
  </nav>

  <button type="button" class="btn-menu" (click)="showMenu()" [ngClass]="{ 'icon-menu' : !menuActive, 'icon-menu-active' : menuActive }">
  </button>
</header>
