<header [ngClass]="{
    'menu-active' : menuActive,
    'sub-menu-active': subMenuActive,
    'background-active': !isHome
  }">
  <nav class="nav">
    <div class="logo">
      <a href="/">
        <img src="assets/logo-imobiliaria-dimensao.svg" alt="{{ APP_CONFIG.name }}">
      </a>
    </div>

    <ul class="menu">
      <div class="menu-main">
        <ng-container *ngIf="isHome">
          <li *ngFor="let banner of banners;">
            <a #linkOnePage href="#banner-{{ banner.id }}">{{ banner.nome }}</a>
          </li>
        </ng-container>

        <ng-container *ngIf="!isHome">
          <li><a (click)="navigateHome()">Início</a></li>
          <li><a (click)="navigateQuemSomos()">Quem somos</a></li>
          <li><a (click)="navigateAnuncios()">Anúncios</a></li>
          <li><a (click)="navigateAnuncie()">Anuncie</a></li>
          <li><a (click)="navigateCorretores()">Corretores</a></li>
        </ng-container>
      </div>

      <div class="default-items">
        <li class="item"><a (click)="navigateContato()">Contato</a></li>
        <li class="item"><a (click)="navigateDescubra()">Descubra</a></li>

        <li *ngIf="isHome" class="item item-menu">
          <a (click)="showSubMenu($event)">Menu</a>
          <ul class="sub-menu">
            <button type="button" class="btn-menu icon-close" (click)="showSubMenu($event)"></button>
            <li><a (click)="navigateHome()">Início</a></li>
            <li><a (click)="navigateQuemSomos()">Quem somos</a></li>
            <li><a (click)="navigateAnuncios()">Anúncios</a></li>
            <li><a (click)="navigateAnuncie()">Anuncie</a></li>
            <li><a (click)="navigateCorretores()">Corretores</a></li>
          </ul>
        </li>
      </div>
    </ul>
  </nav>

  <button type="button" class="btn-menu" (click)="showMenu()" [ngClass]="{ 'icon-menu' : !menuActive, 'icon-menu-active' : menuActive }">
  </button>
</header>
