@import 'mixins';

.page {
  padding: 2rem 1rem;
}

h1 {
  font-size: 1.5rem;
  text-align: center;

  @include mobile-first(md) {
    font-size: 2.5rem;
  }
}

.list {
  margin-top: 2rem;
  margin: 0 auto;
  max-width: 620px;

  @include mobile-first(lg) {
    max-width: 950px;
  }

  @include mobile-first(xl) {
    padding: 1rem 1.5rem 0 1.5rem;
    max-width: 1340px;
  }
}

.announcements {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  justify-content: flex-start;

  @include mobile-first(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: 100%;
    display: flex;

    @include mobile-first(md) {
      max-width: 290px;
    }
  }
}

app-announcement-list-item {
  display: flex;
}
