<div *ngIf="announcement">

  <app-announcement-gallery [announcement]="announcement"></app-announcement-gallery>

  <div class="grid-1">
    <div class="box-1">
      <div class="announcement">
        <h1 class="heading">{{ announcement.titulo }}</h1>
        <small class="type">{{ announcement.tipo | announcementType }}</small>
        <p class="address">{{ announcement.endereco }} - {{ announcement.bairro.nome }} - {{ announcement.bairro.cidade | cityState }}</p>
        <strong class="amount">{{ announcement.valor | currencyBr }}</strong>

        <div class="numbers">
          <div class="item" *ngIf="announcement.areaConstruida">
            <span class="icon icon-metragem"></span>
            <div class="text">
              <strong>Área construída</strong>
              <span>{{ announcement.areaConstruida | m2 }}</span>
            </div>
          </div>
          <div class="item" *ngIf="announcement.areaTotal">
            <span class="icon icon-metragem"></span>
            <div class="text">
              <strong>Área total</strong>
              <span>{{ announcement.areaTotal | m2 }}</span>
            </div>
          </div>
          <div class="item" *ngIf="announcement.suites">
            <span class="icon icon-suite"></span>
            <div class="text">
              <strong>Suítes</strong>
              <span>{{ announcement.suites }}</span>
            </div>
          </div>
          <div class="item" *ngIf="announcement.dormitorios">
            <span class="icon icon-dormitorios"></span>
            <div class="text">
              <strong>Dormitórios</strong>
              <span>{{ announcement.dormitorios }}</span>
            </div>
          </div>
          <div class="item" *ngIf="announcement.banheiros">
            <span class="icon icon-shower"></span>
            <div class="text">
              <strong>Banheiros</strong>
              <span>{{ announcement.banheiros }}</span>
            </div>
          </div>
          <div class="item" *ngIf="announcement.vagasGaragem">
            <span class="icon icon-garagem"></span>
            <div class="text">
              <strong>Vagas</strong>
              <span>{{ announcement.vagasGaragem }}</span>
            </div>
          </div>
        </div>

        <div *ngIf="announcement.sobre" class="about">
          <h2 class="heading">Sobre o imóvel</h2>
          <p>{{ announcement.sobre }}</p>
        </div>

        <div class="characteristics">
          <div *ngIf="characteristicsImovel?.length" class="imovel">
            <h2 class="heading">Características do imóvel</h2>
            <div class="tags">
              <div class="tag" *ngFor="let characteristic of characteristicsImovel">
                {{ characteristic.nome }}
              </div>
            </div>
          </div>

          <div *ngIf="characteristicsInstalacoes?.length" class="condominio">
            <h2 class="heading">Instalações do condomínio</h2>
            <div class="tags">
              <div class="tag" *ngFor="let characteristic of characteristicsInstalacoes">
                {{ characteristic.nome }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="interesse">
        <button class="btn btn-sm btn-primary-3" (click)="toggleModal()">Tenho Interesse</button>
      </div>

      <div *ngIf="announcements?.length" class="more">
        <h2 class="heading">Você também pode se interessar</h2>
        <ul class="announcements">
          <li class="item" *ngFor="let announcement of announcements;">
            <app-announcement-list-item [announcement]="announcement"></app-announcement-list-item>
          </li>
        </ul>
      </div>
    </div>

    <div class="box-2" [ngClass]="{'display-modal': showModal }">
      <div class="box-form">
        <button class="close-button icon-close" (click)="toggleModal()"></button>
        <h5>Fale com um corretor</h5>
        <p>Para saber mais sobre esse imóvel, preencha o formulário abaixo.</p>
        <form id="form_anuncio" class="form" [formGroup]="form" (ngSubmit)="submit()">
          <div class="input-field">
            <label>Nome</label>
            <input ngDefaultControl class="input" type="text" formControlName="nome" placeholder="Informe seu Nome">
            <span *ngIf="controlNomeHasError" class="input-error">Informe um Nome</span>
          </div>

          <div class="input-field">
            <label>E-mail</label>
            <input ngDefaultControl class="input" type="email" formControlName="email" placeholder="Informe seu E-mail">
            <span *ngIf="controlEmailHasError" class="input-error">Informe um E-mail válido</span>
          </div>

          <div class="input-field">
            <label>Telefone/Celular</label>
            <input ngDefaultControl appPhone class="input" type="tel" formControlName="telefone" placeholder="Informe seu Telefone/Celular">
            <span *ngIf="controlTelefoneHasError" class="input-error">Informe um Telefone/Celular</span>
          </div>

          <button class="btn btn-sm btn-primary-3" type="submit">Enviar</button>
        </form>

        <p class="announcement-code">Código do imóvel: <strong>{{ announcement.codigoAnuncio | uppercase }}</strong></p>

        <span class="divider">
          <p>ou</p>
        </span>

        <app-button-whatsapp number="44991591664" [message]="messageWhats"></app-button-whatsapp>

        <div class="call">
          <div class="text">
            <i class="icon-phone"></i>
            <span>+55 44 3622-5221</span>
          </div>
          <a class="btn btn-primary-3 btn-sm btn-outline" href="tel:+55443622-5221">Ligar</a>
        </div>
      </div>
    </div>
  </div>

</div>
