@import 'mixins';

.heading {
  font-size: 1.25rem;
  color: var(--grey-2);
}

.grid-1 {
  padding: 2rem 1rem 3.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mobile-first(md) {
    padding: 3.75rem 1rem;
  }

  @include mobile-first(lg) {
    gap: 6rem;
  }

  @include mobile-first(xl) {
    flex-direction: row;
    max-width: 1390px;
    margin: 0 auto;
  }
}

.box-1 {
  flex: 1;

  @include mobile-first(lg) {
    flex: 2.1;
  }
}

.box-2 {
  width: 100vw;
  height: 100vh;
  transition: 0.25s all;
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;

  @include mobile-first(md) {
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 1;
    position: relative;
    flex: 1;
  }

  &.display-modal {
    opacity: 1;
    z-index: 100;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      inset: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background-color: rgba(var(--black-rgb), 0.5);
    }
  }

  .box-form {
    max-width: 360px;
    padding: 2rem;
    background: var(--white);
    border-radius: 0.5rem;
    z-index: 99;
    position: relative;

    @include mobile-first(md) {
      position: sticky;
      top: 2rem;
      width: 100%;
      max-width: 100%;
    }

    h5 {
      font-size: 1.15rem;
    }

    .close-button {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 0.25s all;
      color: var(--primary-3);

      @include mobile-first(md) {
        display: none;
      }
    }

    .announcement-code {
      text-align: center;
      padding: 0;
      margin-top: 1.5rem;
      font-size: 0.75rem;
    }

  }
}

.announcement {
  color: var(--grey-2);
  .type {
    font-size: 0.65rem;
    color: var(--primary-3);
    display: block;
    margin-bottom: 0.75rem;
  }
  .address {
    font-size: 0.75rem;
  }
  .amount {
    font-size: 0.75rem;
  }
}

.interesse {
  text-align: center;
  margin: 1rem 0;

  @include mobile-first(md) {
    display: none;
  }
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin: 1.75rem 0;
  flex-wrap: wrap;
  color: var(--grey-2);

  div {
    width: fit-content;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--grey-4);
    border-radius: 8px;
    background-color: var(--white);
    gap: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    i {
      color: var(--white);
      background-color: var(--primary-4);
      padding: 0.35rem;
      min-height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.icon-metragem {
        font-size: 0.60rem;
      }
      &.icon-suite {
        font-size: 1rem;
      }
      &.icon-dormitorios {
        font-size: 0.65rem;
      }
      &.icon-shower {
        font-size: 0.8rem;
      }
      &.icon-garagem {
        font-size: 0.75rem;
      }
    }

    strong {
      font-size: 0.625rem;

      @include mobile-first(md) {
        font-size: 0.75rem;
      }
    }

    p {
      font-size: 0.625rem;
      line-height: 0.625rem;
      padding-bottom: 0;
      transform: translateY(2px);

      @include mobile-first(md) {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }
  }
}

.about {
  p {
    padding-bottom: 0;
  }
}

.characteristics {

  .heading {
    padding-top: 1.75rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;

    .tag {
      background-color: var(--white);
      padding: 0.5rem;
      border: 1px dashed var(--grey-4);
      text-align: center;
      font-size: 0.75rem;
      border-radius: 8px;
    }
  }
}

.more {
  padding-top: 1.75rem;

  .heading {
    margin-bottom: 1rem;
  }
}

app-announcement-list-item {
  display: flex;
}

.announcements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;

  @include mobile-first(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: 100%;
    display: flex;

    @include mobile-first(md) {
      max-width: 215px;
    }

    @include mobile-first(xl) {
      max-width: 264px;
    }
  }
}

.box-form {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 3px 0 rgba(var(--black-rgb), 0.25);
}

.form {
  .input-field {
    margin-bottom: 1.5rem;
  }

  .btn {
    margin: 0 auto;
    display: block;
  }
}
