@import 'mixins';

::ng-deep {
  body, html {
    background-color: var(--grey-5);
  }
}

.box-1 {
  max-width: 660px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 1rem;

  h1 {
    font-size: 1.5rem;
  
    @include mobile-first(lg) {
      font-size: 2.5rem;
    }
  }

  p {
    text-align: center;
  }
}

.box-2 {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  @include mobile-first(md) {
    flex-direction: row;
    max-width: 560px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include mobile-first(lg) {
    max-width: 875px;
  }

  .broker {

    &:hover {

      cursor: pointer;

      button {
        background-color: var(--primary-3);
        color: var(--white);
      }
    }

    @include mobile-first(lg) {
      width: 250px;
    }

    div:first-child{
      position: relative;
    } 

    img {
      border-radius: 50%;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: var(--white);
      color: var(--primary-3);
      z-index: 10;
    }

    

    div:last-child {
      text-align: center;

      h2 {
        font-size: 1rem;
        color: var(--grey-1);
        padding-top: 0.625rem;
      }
  
      p {
        display: inline-block;
        font-size: 0.75rem;
        color: var(--primary-3);
      }
    }
  }

}

