<div class="inside-page">
  <section class="box-1">
    <h1>Conheça nossa equipe</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    </p>
  </section>

  <section class="box-2">
    <div 
      *ngFor="let broker of brokers;"
      class="broker">
      <div>
        <img [src]="broker.foto" [alt]="broker.nome">
        <button class="icon-arrow-right"></button>
      </div>
      
      <div>
        <h2>{{ broker.nome }}</h2>
        <p *ngIf="broker.creci">{{ broker.creci }}</p>
      </div>
    </div>
  </section>

</div>
