<footer>
  <div class="links">
    <div class="container">
      <nav class="nav">
        <h6>Institucional</h6>
        <ul>
          <li><a routerLink="/quem-somos" href="#">Nossa História</a></li>
          <li><a [routerLink]="BROKER_CONFIG.pathFront" href="#">Corretotes</a></li>
          <li><a routerLink="/correa-favarao" href="#">Correa e Favarão</a></li>
        </ul>
      </nav>

      <nav class="nav">
        <h6>Imóveis</h6>
        <ul>
          <li *ngFor="let banner of banners;">
            <a target="_blank" [href]="banner.link">{{ banner.nome }}</a>
          </li>
        </ul>
      </nav>

      <nav class="nav">
        <h6>Contatos</h6>
        <ul>
          <li><a routerLink="/contato">Fale Conosco</a></li>
          <li><a routerLink="/anuncie">Anuncie</a></li>
          <li><a routerLink="/onde-encontrar">Descubra</a></li>
        </ul>
      </nav>

      <div class="infos">
        <ul>
          <li>
            <i class="icon-border icon-address"></i>
            <a href="https://goo.gl/maps/qBHwXH1hMU3A5CwL8" target="_blank">Av. Brasil, 4337 - Zona I, Umuarama - PR</a>
          </li>
          <li>
            <i class="icon-border icon-mail"></i>
            <a href="mailto:contato@imobiliariadimensao.com.br">contato@imobiliariadimensao.com.br</a>
          </li>
          <li>
            <i class="icon-border icon-phone"></i>
            <a href="tel:+55443622-5221">+55 44 3622-5221</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-bottom">
    <div class="items-flex">
      <div class="logos">
        <a routerLink="/">
          <img src="assets/logo-imobiliaria-dimensao.svg" alt="{{ APP_CONFIG.name }}">
        </a>

        <a routerLink="/correa-favarao">
          <img src="assets/logo-correa-favarao.svg" alt="Correa & Favarão">
        </a>
      </div>

      <nav class="terms-policy">
        <ul>
          <li><a routerLink="/termos-de-uso">Termos de uso</a></li>
          <li><a routerLink="/politica-de-privacidade">Política de privacidade</a></li>
        </ul>
      </nav>

      <ul class="social">
        <li><a class="icon-border" href="#" target="_blank"><span class="icon-linkedin"></span></a></li>
        <li><a class="icon-border" href="#" target="_blank"><span class="icon-facebook"></span></a></li>
        <li><a class="icon-border" href="#" target="_blank"><span class="icon-instagram"></span></a></li>
        <li><a class="icon-border" href="#" target="_blank"><span class="icon-youtube"></span></a></li>
      </ul>
    </div>

    <p class="copy">
      ©{{ anoCorrente }} - Todos os direitos reservados {{ APP_CONFIG.name }}
    </p>
  </div>
</footer>
