<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="box-1">
    <div class="input-field">
      <label>Tipo do Imóvel</label>
      <select ngDefaultControl class="select" formControlName="tipo">
        <option value="null" selected>Selecione o Tipo</option>
        <ng-container appAnnouncementTypeOptionSelect (dataFinded)="announcementTypes = $event">
          <option *ngFor="let type of announcementTypes" [value]="type.value">
            {{ type.name }}
          </option>
        </ng-container>
      </select>
    </div>

    <div class="input-field">
      <label>Cidade</label>
      <select ngDefaultControl class="select" formControlName="cidadeId">
        <option value="null" selected>Selecione a Cidade</option>
        <ng-container appCityOptionSelect (dataFinded)="cities = $event">
          <option *ngFor="let city of cities?.data" [value]="city.id">
            {{ city | cityState }}
          </option>
        </ng-container>
      </select>
    </div>

    <div class="input-field">
      <div class="input-field">
        <label>Bairro</label>
        <select ngDefaultControl class="select" formControlName="bairroId">
          <option value="null" selected>Selecione o Bairro</option>
          <option *ngFor="let district of districts?.data" [value]="district.id">
            {{ district.nome }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <ng-container *ngIf="showFiltersAdvanced">
    <div class="box-2">
      <div class="item">
        <div class="input-field">
          <label>Valor mínimo</label>
          <input ngDefaultControl appCurrencyBr class="input" type="text" formControlName="valorMinimo" placeholder="Informe o Valor mínimo">
        </div>
        <div class="input-field">
          <label>Valor máximo</label>
          <input ngDefaultControl appCurrencyBr class="input" type="text" formControlName="valorMaximo" placeholder="Informe o Valor máximo">
        </div>
      </div>

      <div *ngIf="showInputTipoArea" class="input-field input-field-radio">
        <label>Tipo da Área</label>
        <div class="item-radio">
          <input type="radio" formControlName="tipoArea" [id]="AnnouncementAreaType.Construida" [value]="AnnouncementAreaType.Construida">
          <label [for]="AnnouncementAreaType.Construida">Construída</label>
        </div>
        <div class="item-radio">
          <input type="radio" formControlName="tipoArea" [id]="AnnouncementAreaType.Total" [value]="AnnouncementAreaType.Total">
          <label [for]="AnnouncementAreaType.Total">Total</label>
        </div>
      </div>
      <div class="item" *ngIf="showInputAreaConstruida">
        <div class="input-field">
          <label>Área construída mínima (m²)</label>
          <input ngDefaultControl appM2 class="input" type="text" formControlName="areaConstruidaMinima" placeholder="Informe a Área construída mínima">
        </div>
        <div class="input-field">
          <label>Área construída máxima (m²)</label>
          <input ngDefaultControl appM2 class="input" type="text" formControlName="areaConstruidaMaxima" placeholder="Informe a Área construída máxima">
        </div>
      </div>
      <div class="item" *ngIf="showInputAreaTotal">
        <div class="input-field">
          <label>Área total mínima (m²)</label>
          <input ngDefaultControl appM2 class="input" type="text" formControlName="areaTotalMinima" placeholder="Informe a Área total mínima">
        </div>
        <div class="input-field">
          <label>Área total máxima (m²)</label>
          <input ngDefaultControl appM2 class="input" type="text" formControlName="areaTotalMaxima" placeholder="Informe a Área total máxima">
        </div>
      </div>
    </div>

    <div *ngIf="!isType.TERRENO_URBANO && !isType.TERRENO_RURAL" class="box-3">
      <div *ngIf="!isType.COMERCIAL" class="input-field">
        <label>Banheiros</label>
        <div class="quantities-filter">
          <div
            class="item"
            *ngFor="let quantitie of quantities"
            [ngClass]="{ 'active' : controlBanheiros?.value === quantitie }">
            <label for="banheiros-{{ quantitie }}">{{ quantitie }}</label>
            <input
              type="radio"
              formControlName="banheiros"
              id="banheiros-{{ quantitie }}"
              [value]="quantitie"
              (click)="clickRadio(controlBanheiros, quantitie)">
          </div>
        </div>
      </div>

      <div *ngIf="!isType.COMERCIAL" class="input-field">
        <label>Dormitórios</label>
        <div class="quantities-filter">
          <div
            class="item"
            *ngFor="let quantitie of quantities"
            [ngClass]="{ 'active' : controlDormitorios?.value === quantitie }">
            <label for="dormitorios-{{ quantitie }}">{{ quantitie }}</label>
            <input
              type="radio"
              formControlName="dormitorios"
              id="dormitorios-{{ quantitie }}"
              [value]="quantitie"
              (click)="clickRadio(controlDormitorios, quantitie)">
          </div>
        </div>
      </div>

      <div class="input-field">
        <label>Vagas de garagem</label>
        <div class="quantities-filter">
          <div
            class="item"
            *ngFor="let quantitie of quantities"
            [ngClass]="{ 'active' : controlVagasGaragem?.value === quantitie }">
            <label for="vagas-{{ quantitie }}">{{ quantitie }}</label>
            <input
              type="radio"
              formControlName="vagasGaragem"
              id="vagas-{{ quantitie }}"
              [value]="quantitie"
              (click)="clickRadio(controlVagasGaragem, quantitie)">
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="buttons">
    <button *ngIf="showFiltersAdvanced" class="btn btn-sm btn-primary-4 btn-outline" type="button" (click)="setFalseFiltersAdvanced()">
      Filtros básicos
    </button>
    <button *ngIf="!showFiltersAdvanced" class="btn btn-sm btn-primary-4 btn-outline" type="button" (click)="setTrueFiltersAdvanced()">
      Filtros avançados
    </button>
    <button class="btn btn-sm btn-primary-3" type="submit">Buscar</button>
  </div>

  <div class="form-reset">
    <a role="button" (click)="resetAdvancedFilter()">Resetar formulário</a>
  </div>
</form>
