<a class="announcement" [routerLink]="[link]" [state]="{ announcement: announcement }" [title]="announcement.titulo">
  <img
    [src]="announcement.galeria.fotos[0]?.nome | pathImage : 'anuncios' : announcement?.galeria?.id"
    [alt]="announcement.titulo">
  <div class="infos">
    <div>
      <small class="type">{{ announcement.tipo | announcementType }}</small>
      <strong class="amount">{{ announcement.valor | currencyBr }}</strong>
      <p class="address">{{ announcement.endereco }} - {{ announcement.bairro.nome }} - {{ announcement.bairro.cidade | cityState }}</p>
      <p *ngIf="announcement.sobre" class="sobre">{{ announcement.sobre | resumeText : 100 }}</p>

      <div class="numbers">
        <div *ngIf="announcement.areaConstruida && showAreaType.CONSTRUIDA">
          <i class="icon-metragem"></i>
          <span>{{ announcement.areaConstruida | m2 }}</span>
        </div>
        <div *ngIf="announcement.areaTotal && showAreaType.TOTAL">
          <i class="icon-metragem"></i>
          <span>{{ announcement.areaTotal| m2 }}</span>
        </div>
        <div *ngIf="announcement.dormitorios">
          <i class="icon-dormitorios"></i>
          <span>{{ announcement.dormitorios }}</span>
        </div>
        <div *ngIf="announcement.banheiros">
          <i class="icon-shower"></i>
          <span>{{ announcement.banheiros }}</span>
        </div>
        <div *ngIf="announcement.vagasGaragem">
          <i class="icon-garagem"></i>
          <span>{{ announcement.vagasGaragem }}</span>
        </div>
      </div>
    </div>
  </div>
</a>
