<a class="announcement" [routerLink]="[link]" [state]="{ announcement: announcement }" [title]="announcement.titulo">
  <img
    [src]="announcement.galeria.fotos[0]?.nome | pathImage : 'anuncios' : announcement?.galeria?.id"
    [alt]="announcement.titulo">
  <div class="infos">
    <div>
      <small class="type">{{ announcement.tipo | announcementType }}</small>
      <strong class="amount">{{ announcement.valor | currencyBr }}</strong>
      <p class="address">{{ announcement.endereco }} - {{ announcement.bairro.nome }} - {{ announcement.bairro.cidade | cityState }}</p>
      <p *ngIf="announcement.sobre" class="sobre">{{ announcement.sobre | resumeText : 100 }}</p>

      <div class="numbers">
        <div class="item" *ngIf="announcement.areaConstruida && showAreaType.CONSTRUIDA">
          <span class="icon icon-metragem"></span>
          <span class="text">{{ announcement.areaConstruida | m2 }}</span>
        </div>
        <div class="item" *ngIf="announcement.areaTotal && showAreaType.TOTAL">
          <span class="icon icon-metragem"></span>
          <span class="text">{{ announcement.areaTotal| m2 }}</span>
        </div>
        <div class="item" *ngIf="announcement.dormitorios">
          <span class="icon icon-dormitorios"></span>
          <span class="text">{{ announcement.dormitorios }}</span>
        </div>
        <div class="item" *ngIf="announcement.banheiros">
          <span class="icon icon-shower"></span>
          <span class="text">{{ announcement.banheiros }}</span>
        </div>
        <div class="item" *ngIf="announcement.vagasGaragem">
          <span class="icon icon-garagem"></span>
          <span class="text">{{ announcement.vagasGaragem }}</span>
        </div>
      </div>
    </div>
  </div>
</a>
