@import 'mixins';

.announcement {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 3px 0 rgba(var(--black-rgb), 0.1);
  display: flex;
  flex-direction: column;
  transition: 0.5s all;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 0 rgba(var(--primary-rgb-3), 0.5);
  }

  img {
    width: 100%;
    max-height: 217px;
    object-fit: cover;
    border-bottom: 1px solid var(--grey-5);

    @include mobile-first(md) {
      max-height: 160px;
    }
  }
}

.infos {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .type {
    color: var(--primary-3);
    display: block;
    font-size: 0.65rem;
  }

  .title {
    font-size: 1rem;
    color: var(--grey-2);
  }

  .address {
    font-size: 0.75rem;
    color: var(--grey-2);
    text-align: left;
  }

  .sobre {
    font-size: 0.625rem;
    color: var(--grey-2);
  }
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.75rem 0 0.5rem;
  flex-wrap: nowrap;
  color: var(--grey-2);

  div {

    span {
      display: inline-block;
      font-size: 0.6875rem;
      line-height: 0.6275rem;
      vertical-align: bottom;
    }

    i {
      color: var(--primary-3);
      margin-right: 0.25rem;
      vertical-align: bottom;

      &.icon-metragem {
        font-size: 0.60rem;
      }
      &.icon-dormitorios {
        font-size: 0.65rem;
      }
      &.icon-banheiros {
        font-size: 1rem;
      }
      &.icon-garagem {
        font-size: 0.75rem;
      }
    }
  }
}

.amount {
  color: var(--grey-2);
  display: block;
  text-align: left;
  margin: 10px 0px;
}
