<div class="box">
  <h1>Termos de uso</h1>
  <p>
    A Imobiliária Dimensão (IMOBILIÁRIA DIMENSÃO S/S LTDA, CNPJ 79.267.415/0001-86), com sede à Avenida Brasil, 4337, Zona I, em Umuarama-Pr, se importa com a sua segurança e rege através desse termo, todas informações disponibilizadas.<br>
    Este termo busca esclarecer a utilização dos serviços disponibilizados pela Imobiliária Dimensão.
  </p>
  <br><br>
  <h3>1. Direitos autorais:</h3>
  <p>1.1 Todas informações disponibilizadas pela Imobiliária Dimensão, como textos, imagens, vídeos e etc, estão sujeitos a direitos autorais e outras proteções de propriedade intelectual;</p>
  <p>1.2 As informações não poderão ser modificadas/alteradas, distribuídas para uso comercial e nem enviadas à outros sites;</p>
  <p>1.3 Nenhuma informação deve ser considerada como concessão, licença ou transferência de poderes dominiais da propriedade intelectual.</p>
  <br><br>
  <h3>2. Limitações:</h3>
  <p>2.1 Não utilizar as informações de forma que possa induzir outros usuários ao erro;</p>
  <p>2.2 Não realizar cadastros com informações falsas ou de terceiros;</p>
  <p>2.3 Não violar direitos de propriedade intelectual;</p>
  <p>2.4 Não prejudicar o site/servidores onde as informações estão contidas.</p>
  <br><br>
  <h3>3. Informações disponibilizadas:</h3>
  <p>3.1 Pode ocorrer erros tipográficos, omissões ou imperfeições técnicas, eventuais perdas e danos decorrentes dos mesmos, pela qual a Imobiliária Dimensão não se responsabiliza, pois para a compra ou venda de qualquer imóvel é de suma importância que o usuário entre em contato conosco para confirmar qualquer tipo de informação;</p>
  <p>3.2 Qualquer informação pode ser alterada ou atualizada sem aviso prévio e que a qualquer instante, podem ocorrer mudanças no imóvel, sem que tenhamos tido a oportunidade e possibilidade de alterá-los em nosso site/canais;</p>
  <p>3.3 A Imobiliária Dimensão não garante que os serviços prestados ao acessar o site/canais funcionem ininterruptamente ou se encontrem livres de erro, vírus ou outros elementos prejudiciais.</p>
  <br><br>
  <h3>4. Alterações neste termo:</h3>
  <p>Abaixo indica informações relacionadas às alterações deste termo.</p>
  <br>
  <p>4.1 Este termo foi atualizado pela última vez em 30 de maio de 2022, e envolve todos nossos canais/redes sociais controladas. Podendo ter alterações/atualizações, a qualquer momento, sem aviso prévio.</p>
</div>
