<div class="inside-page">

  <div class="box">
    <h1>Descubra</h1>

    <div class="box-form">
      <div class="input-field">
        <label>Endereço</label>
        <input
          type="text"
          class="input"
          (keydown.enter)="$event.preventDefault()"
          placeholder="Informe uma cidade, bairro ou rua.."
          type="text"
          #search
        />
      </div>
    </div>
  </div>

  <div class="box-2">

    <google-map
  
      #myGoogleMap

      height="500px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      (mapClick)="eventHandler($event,'mapClick')"
      (mapDblclick)="eventHandler($event,'mapDblclick')"
      (mapDrag)="eventHandler($event,'mapDrag')"
      (mapDragend)="eventHandler($event,'mapDragend')"
      (mapRightclick)="eventHandler($event,'mapRightclick')"
      (positionChanged)="eventHandler($event,'marker_positionChanged')"
      (zoomChanged)="eventHandler($event,'zoomChanged')"
    >
      <map-marker
        #markerElem="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        [icon]="iconPin"
        (mapClick)="openInfo(markerElem, marker.description)"
      >
      </map-marker>

      <map-info-window>
        <div class="content">
          <img [src]="infoMarker?.foto" alt="">
          <div class="text">
            <h2>{{ infoMarker?.tipo }}</h2>
            <div class="numbers">
              <div *ngIf="infoMarker?.areaTotal">
                <i class="icon-metragem"></i> {{ infoMarker?.areaTotal | m2: true }}
              </div>
              <div *ngIf="infoMarker?.dormitorios">
                <i class="icon-dormitorios"></i> {{ infoMarker?.dormitorios }}
              </div>
              <div *ngIf="infoMarker?.banheiros">
                <i class="icon-banheiros"></i> {{ infoMarker?.banheiros }}
              </div>
              <div *ngIf="infoMarker?.vagasGaragem">
                <i class="icon-garagem"></i> {{ infoMarker?.vagasGaragem }}
              </div>
            </div>
            <div class="footer">
              <p>R$ {{ infoMarker?.valor }} </p>
              <a href="#">Ver imóvel</a>
            </div>
          </div>
        </div>
      </map-info-window>
    </google-map>
      
    
  </div>

</div>