<div class="inside-page">

  <div class="box">
    <h1>Descubra</h1>

    <div class="box-form">
      <div class="input-field">
        <label>Endereço</label>
        <input
          #search
          type="text"
          class="input"
          placeholder="Informe uma cidade, bairro ou rua"
          (keydown.enter)="$event.preventDefault()" />
      </div>
    </div>
  </div>

  <div class="box-2">
    <google-map
      #myGoogleMap
      width="100%"
      height="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options">

      <map-marker
        #markerElem="mapMarker"
        *ngFor="let marker of markers"
        [icon]="iconPin"
        [position]="marker.position"
        [title]="marker.announcement.titulo"
        (mapClick)="openInfo(markerElem, marker.announcement)">
      </map-marker>

      <map-info-window>
        <div class="content" *ngIf="announcement">
          <img
            *ngIf="announcement.galeria.fotos[0]"
            [src]="announcement.galeria.fotos[0].nome| pathImage: 'anuncios': announcement.galeria.fotos[0].galeriaId"
            [alt]="announcement.titulo">
          <div class="text">
            <h2>{{ announcement.tipo }}</h2>
            <div class="numbers">
              <div *ngIf="announcement.areaTotal">
                <i class="icon-metragem"></i> {{ announcement.areaTotal | m2: true }}
              </div>
              <div *ngIf="announcement.dormitorios">
                <i class="icon-dormitorios"></i> {{ announcement.dormitorios }}
              </div>
              <div *ngIf="announcement.banheiros">
                <i class="icon-banheiros"></i> {{ announcement.banheiros }}
              </div>
              <div *ngIf="announcement.vagasGaragem">
                <i class="icon-garagem"></i> {{ announcement.vagasGaragem }}
              </div>
            </div>
            <div class="footer">
              <p>{{ announcement.valor | currencyBr }} </p>
              <a class="announcement" target="_blank" [href]="link" [title]="announcement.titulo">Ver imóvel</a>
            </div>
          </div>
        </div>
      </map-info-window>
    </google-map>
  </div>

</div>
