@import './variables';
@import './reset';
@import './btn';
@import './fonts/icons';

.icon-border {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: inline-block;
  border: 2px solid var(--grey-4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-right: 0.25rem;
  transition: 0.5s all;

  &:hover {
    opacity: 0.75;
  }
}

.inside-page {
  padding-top: 5rem;
}
