$greenWhats: #00E676;

button {
  background-color: transparent;
  border: 1px solid $greenWhats;
  color: $greenWhats;
  text-transform: uppercase;
  text-align: center;
  height: 26px;
  line-height: 26px;
  width: 200px;
  border-radius: 25px;
  font-size: 0.825rem;
  font-weight: 600;

  &:hover {
    color: var(--white);
    background-color: $greenWhats;
    border-color: $greenWhats;
  }

  span {
    display: inline-block;
    font-size: 0.75rem;
    margin-right: 5px;
    vertical-align: text-top;
    transform: translateY(1.5px);
  }
}
